@using MG.Models
@model IEnumerable<Stu>

<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold"> MG Students</h1>
        <p class="col-md-8 fs-4"></p>
        <a type="button" class="btn btn-primary btn-lg" asp-action="addStu">Create</a>

    </div>
</div>
<div class="card" style="width: 18rem;">
    @foreach (var item in Model)
    {
        <div class="card-body">
            <h5 class="card-title">@item.FName</h5>

        </div>
    }

</div>