@using MGWeb.Areas.Public.ViewModels
@model AddAttendCardVM
@{
}
<h1>Take Attendance</h1>
<form method="post" action="Add">
    <div class="mb-3">
        <label for="" class="form-label">Date</label>
        <input type="date" class="form-control" asp-for="SchoolDay">
    </div>
      <div class="mb-3">
        <label for="" class="form-label">Drop Off Time</label>
        <input type="time" class="form-control" asp-for="TimeIn">
        <div class="form-group">
            <div class="form-check">
                <input asp-for="IsPresent" class="form-check-input" type="checkbox" />
                <label asp-for="IsPresent" class="form-check-label"></label>
            </div>
            <span asp-validation-for="IsPresent" class="text-danger"></span>
        </div>
        <label for="" class="form-label">Student</label>
        <input type="" class="form-control" asp-for="StuId">
    </div>  <div class="mb-3">
        <label for="" class="form-label">Parent</label>
        <input type="" class="form-control" asp-for="ParId">
    </div>  <div class="mb-3">
        <label for="" class="form-label">Teacher</label>
        <input type="" class="form-control" asp-for="EmpId">
    </div>  <div class="mb-3">
        <label for="" class="form-label">Notes</label>
        <input type="text" class="form-control" asp-for="Notes">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>